snippet ,pb "Push Back" iA
.push_back($0)
endsnippet

snippet ,eb "Emplace back" iA
.emplace_back($0)
endsnippet

snippet fast "competitive template"
#include <bits/stdc++.h>
#include <iostream>
#define ll long long;
#define arr array;
using namespace std;

int sol() {
	return 0;
}

int main() {
	ios::sync_with_stdio(0);
	cin.tie(0);
	// Solution
	
	cout << sol();
	return 0;
}
endsnippet
