# snipppets for type of TeX file

snippet notesmath "Math Notes Template"
\documentclass[12pt]{article}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{fancyhdr}
%\usepackage{pgfplots}
\usepackage{graphicx}
\usepackage{geometry}
\usepackage{bm}
\allowdisplaybreak
\begin{document}
\title{${1}}
\author{mrevanisworking}
\maketitle


${2}



\end{document}
endsnippet

snippet mathhw "Math HW Template"
NOT IMPLEMENTED
endsnippet
